@import url('https://fonts.googleapis.com/css2?family=Quicksand:wgt@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
  
}

/* body {
  text-align: center;
} */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1.5px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  font-size: x-large;
}

.navbar a {
  margin-left: 18px;
  text-decoration: none;
  padding: 6px;
}
div.wrapper
{
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-left: 20px;
    float:left;
    justify-content: center;
}
div.wrapperr
{
    display: block;
    text-align: center;
    margin-top: 15px;
    justify-content: left;
}
div.wrappe
{
    display: block;
    text-align: center;
    margin-top: 15px;
    justify-content: left;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
legend{
  font-weight: bold;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  padding: 3px;
}
/* .wrapper{
  display: flex;
} */
input[type=submit]:hover {
  background-color: #45a049;
}



